/* Tipografia */
@font-face {
    font-family: 'Mixta Sharp';
    src: url('fonts/MixtaSharp-Black.woff2') format('woff2'),
        url('fonts/MixtaSharp-Black.woff') format('woff'),
        url('fonts/MixtaSharp-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitlingGothicFB Wide';
    src: url('fonts/TitlingGothicFBWide-Regular.woff2') format('woff2'),
        url('fonts/TitlingGothicFBWide-Regular.woff') format('woff'),
        url('fonts/TitlingGothicFBWide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitlingGothicFB Normal';
    src: url('fonts/TitlingGothicFBNormal-Bold.woff2') format('woff2'),
        url('fonts/TitlingGothicFBNormal-Bold.woff') format('woff'),
        url('fonts/TitlingGothicFBNormal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitlingGothicFB Normal';
    src: url('fonts/TitlingGothicFBNormal-Regular.woff2') format('woff2'),
        url('fonts/TitlingGothicFBNormal-Regular.woff') format('woff'),
        url('fonts/TitlingGothicFBNormal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Nosotros */

.nosotros-content {
    top:-90px;
}